<div class="settings-container">
  <div class="settings-section">
    <h1>設定</h1>
  </div>
  <div class="account-section">
    <h1>アカウント</h1>
    <p>メールアドレス <%= @user.email %></p>
    <p>パスワード ******</p>
    <%= link_to '編集', edit_user_registration_path %>
  </div>
</div>
