<div class="container mt-4">
  <header class="text-center mb-4">
    <h1>温泉地ライブラリ</h1>
    <p>新着情報やおすすめの温泉地をチェックしよう！</p>
  </header>

  <% if user_signed_in? %>
    <h3>おすすめの温泉地</h3>
  <% end %>
</div>
