<div id="container">

<header class="bg1">

<div id="text">

<!--メニュー-->
<div id="menubar">

<top-nav>
<ul>
<li><a href="#about">ABOUT</a></li>
<li><a href="#gallery">GALLERY</a></li>
<li><a href="#access">ACCESS</a></li>
</ul>
</top-nav>
<ul class="icons">
<li><a href="#"><i class="fab fa-facebook"></i></a></li>
<li><a href="#"><i class="fab fa-twitter"></i></a></li>
<li><a href="#"><i class="fab fa-youtube"></i></a></li>
<li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
</ul>
</div>
<!--/#text-->

</div>
