@import 'top';

body  {
  margin-top: 0px;
}

nav {
  border-bottom: 2px solid lightgray;
  background-color: #f8f9fa;
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  position: relative;
}

nav ul li:not(:last-child) {
  margin-right: 20px;
}

nav ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #F8E750;
  color: #333;
}

nav ul li.current a {
  font-weight: bold;
  border-bottom: 2px solid #007BFF;
  color: #007BFF;
}
